@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

body {
    text-align: center;
    background-color: #ffebf7;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flower {
    width: 100px;
    height: 100px;
    margin: 100px auto 20px;
    animation: grow 3s forwards;
}

@keyframes grow {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

h1,
.message {
    opacity: 0;
    animation: fadeIn 2s 3s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.btn {
    display: none;
    padding: 10px 20px;
    background: #ff69b4;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 10px;
}

.btn:hover {
    background: #ff1493;
}




#puzzle-container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 2px;
    margin: 20px auto;
    width: 306px;
}

.puzzle-piece {
    width: 100px;
    height: 100px;
    background-size: 300px 300px;
    cursor: pointer;
    border: 1px solid #fff;
}

.btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background: #ff69b4;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
}

.btn:hover {
    background: #ff1493;
}


#motiv-list {
    list-style: none;
    padding: 0;
}

#motiv-list li {
    font-size: 15px;
    margin: 5px 0;
}

i {
    color: #ff69b4;
    font-size: 50px;
}